/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

body {
    width: 100%;
    height: 100%;
    border: 6px solid navy;
}


/*Sessão Menu*/
.menu {
    display: flex;
    /* border: 4px solid red; */
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 0 100px;
    /* width: 1314px; */
    /* height: 50px; */

}

.menu header {
    display: flex;
    border: 3px solid orange;
    align-items: center;
    gap: 10px;
}


.menu__list {
    display: flex;
    gap: 15px;
    border: #000 1px solid;
}

.menu nav {
    display: flex;
    border: 3px solid green;
    align-items: center;
    gap: 15px;
}

.menu__list__item {
    border: 2px solid rgb(0, 229, 255);
    align-items: center;
}

.menu__list__item__contato {}

/*Sessão Title*/

.title {
    border: 4px solid black;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 60px 0;
    margin: 0px 100px;
    width: 1314px;
    height: 450px;


}

.title__div {
    border: rgb(195, 0, 255) 4px solid;
    display: flex;
    flex-direction: row-reverse;


}

.title__profile {
    border: rgb(63, 29, 56) 3px solid;
    display: flex;
}


.title__container {
    border: rgb(102, 241, 64) 4px solid;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.title__bio {
    border: rgb(11, 99, 119) 3px solid;
    font-size: 52px;


}

.title__subsection {
    border: rgb(173, 84, 16) 3px solid;
    font-size: 22px;
}

.title__network {
    border: #000 3px solid;
    display: flex;
    gap: 20px;
}

/*Sessão About*/

.about img {
    border: 3px solid red;
    display: flex;
    width: 100px;


}

.about__container {
    border: 5px solid #663399;
    display: flex;
    flex-direction: column;
    height: 300px;
    background: #EAF2FD;
    gap: 30px;
    padding: 100px;
    /* width: auto; */

}

.about__title {
    border: 3px solid rgb(73, 159, 177);
    font-size: 32px;
}

.about__paragraph {
    display: flex;
    border: 3px solid rgb(0, 255, 38);
}

/*Sessão Skills*/

section.skills {
    border: 4px solid orange;
    width: 1314px;
    height: 244px;
    margin: 0 100px;



}

.skills__title {
    border: 3px solid red;
    display: flex;
    justify-content: center;
    font-size: 30px;

}

.skills__line {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

}

.skills__box {
    border: 2px solid royalblue;
    display: flex;
    align-items: flex-end;
    width: 176px;
    height: 174px;
    padding: 10px;
}



/* .skills__img { */




.skills__name {}


/*Sessão Hobbies*/

section.hobbies {

    border: 4px solid rgb(114, 25, 40);
    width: 1314px;
    height: 244px;
    margin: 100px;

}

.hobbies__line {
    display: flex;
    justify-content: space-between;

}

.hobbies__title {
    border: #27ee1c 3px solid;
    display: flex;
    justify-content: center;
    font-size: 30px;

}


.hobbies__box {
    border: 2px solid royalblue;
    display: flex;
    align-items: flex-end;
    width: 176px;
    height: 174px;
    padding: 10px;
}


.hobbies__img {}

.hobbies__name {}




/* Experiência Acadêmica*/

section.academic {
    border: 4px solid rgb(154, 44, 63);
    width: 1314px;
    height: 488px;
    margin: 100px;
    background: #EAF2FD;

}

.academic__courses {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 20px;
}

.academic__title {
    border: #f1ca08 4px solid;
    display: flex;
    justify-content: center;
    font-size: 30px;


}

.academic__courses__box {
    border: 3px solid red;
    display: flex;
    align-items: flex-end;
    width: 368px;
    height: 347px;
    padding: 10px;
}



/* experiência*/

section.experience {
    display: flex;
    border: 4px solid green;
    flex-direction: column;
    margin: 0 100px;
    width: 1314px;


}

.experience__section__title {
    border: 2px solid darkmagenta;
    display: flex;
    justify-content: center;
    font-size: 30px;


}

.experiencie__box {
    display: flex;
    /* flex-direction: column; */
    border: 2px solid pink;
    height: 406px;
    align-items: center;
    gap: 20px;

}

.experience__img {
    border: 3px solid rgb(60, 8, 165);
    width: 752px;
    height: 406px;
}

.experience__info {
    display: flex;
    flex-direction: column;
    border: 3px solid firebrick;
    width: 348px;
    height: 112px;
    gap: 10px;

}

.experience__title {}

.experience__text {}

.experience__description {}




/*Contato*/



section.formcontato {
    display: flex;
    border: 5px solid #ffa500;
    padding: 100px;
    background: #EAF2FD;


}

.formcontato__contacto {
    border: 3px solid;
    display: flex;
    gap: 20px;
    /* padding: 100px; */
}

.formcontato--esquerda {
    border: 2px solid red;
}

.formcontato__img {}

.formcontato__text {}


.formcontato__title {
    border: 2px solid darkolivegreen;
}

.formcontato__subtext {}

.formcontato__form {
    display: flex;
    /* width: 656px; */
    /* height: 397px; */
    justify-content: space-around;
    border: 2px solid chartreuse;
    flex-direction: column;
}

/*footeer*/

section.footer p {
    /* border: 1px solid violet; */
    display: flex;
    justify-content: center;

}




/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/* Tablet */
@media (min-width: 768px) {

    /* Menu */

    /*title*/

    /*Skills*/

    /*Hobbies*/

    /*Experiências acadêmicas*/

    /*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

    /*Menu*/

    /*Titulo*/

    /*Sessão sobre*/

    /*Skills*/

    /*Hobbies*/

    /*Formação Acadêmica*/

    /*Experiência Profissional*/

    /*Contato*/

    /*Footer*/

}